.pad-s{
    margin-top: 2em;
}

.pad-i{
    margin-bottom: 2rem;
}

.btn-h:hover{
    background-color: rgb(0, 0, 0);
    /* color: #198754; */
    color: white;
    font-weight: bold;
}

.bck-c{
    background-color: rgba(146, 146, 146, 0.199);
    border-radius: 10px;
}